.card {
  width: 100%;
  height: auto;
  max-width: 312px;
  border: 1px solid #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
}

.card:hover {
  transform: scale(1.05);
}

.card h3 {
  font-size: 18px;
  color: #fff;
}

.card p {
  font-size: 14px;
  color: #fff;
}

.card .readMore {
  display: inline-block;
  margin-top: 10px;
  padding: 8px 12px;
  background: #0070f3;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

.card .readMore:hover {
  background: #005bb5;
}

.postContainer{
    padding:20px;
}

.postDetail {
  width: 100%;
  max-width: 550px;
  height: auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 8px;
}
